{% extends 'base.html' %}
{% load static %}
{% block title %}
  About
{% endblock %}

{% block body %}
  <div class="bg-secondary text-bg-dark">
    <div class="aboutimage justify-content-center my-1">
      <img src="{% static 'images\kalyan-quote.png' %}" class="d-block w-100 mx-3" alt="" />

      <img src="{% static 'images\aboutPurpose.png' %}" class="d-block w-10 mx-3" alt="" />
    </div>

    <div class="text-capitalize text-break mx-5">
      <h4 class="heading mx-1">Overview</h4><br />
      <p>
        <span>
          Welcome to Flifcart! The Flipkart Group is one of India’s leading digital commerce entities and includes group companies Flipkart, Myntra, Flipkart Wholesale, Flipkart Health+, and Cleartrip.

          Started in 2007, Flipkart has enabled millions of sellers, merchants, and small businesses to participate in India's digital commerce revolution. With a registered customer base of more than 500 million, Flipkart's marketplace offers over 150 million products across 80+ categories. Today, there are over 14 lakh sellers on the platform, including Shopsy sellers. With a focus on empowering and delighting every Indian by delivering value through technology and innovation, Flipkart has created lakhs of jobs in the ecosystem while empowering generations of entrepreneurs and MSMEs. Flipkart is known for pioneering services such as Cash on Delivery, No Cost EMI and easy returns, which are customer-centric innovations that have made online shopping more accessible and affordable for millions of Indians..
        </span>
      </p>
    </div>
    <div class="text-capitalize text-break mx-5">
      <h4 class="heading mx-1">Sustainability</h4><br />
      <p>At Flipkart, our goal is to use the power of our platform for the good of people and our planet. We are driven by a mission to fulfil our responsibility to the planet and the society as we maximise our efforts to build value for the Indian consumer.</p>
      <p>As an early adopter of sustainability in the e-commerce space in India, our endeavour has been to embed sustainability across business strategies and functions. In these past couple of years, we have focused on creating a systems change through thought leadership and effective partnerships to create long term and sustained impact.</p>
    </div>
    <div class="text-capitalize text-break mx-5">
      <h4 class="heading mx-1">Flipkart Culture</h4><br />
      <img src="{% static 'images\together.png' %}" class="d-block w-100 mx-3" alt="" /><br />
      <p>At Flipkart, we are dedicated to the cause of maximising for our customers, stakeholders and the planet. We achieve this when Flipsters maximise themselves on the dimensions of their own choice — be it their potential, impact, voice, ideas, influence, well-being, and more.</p>
      <p>We deliver this experience through our unique people-centric culture that’s based on our core values of Audacity, Bias for Action, Customer-First, Integrity and Inclusion and our 4 promises — Leave a Mark through working on audacious challenges, Experiment Learn Grow through a self-owned career trajectories and continuous growth, Work With The Best in our inclusive high-performing teams, and Be Cared For through our employee-focused customisable benefits policies.</p>
    </div>
    <div class="text-capitalize text-break mx-5">
      <h4 class="heading mx-1">Technology</h4><br />
      <img src="{% static 'images\jeyandran-quote.png' %}" class="d-block w-100 mx-3" alt="" />
      <h3 class="heading mx-1">Innovation at Flipkart Group</h3><br />
      <img src="{% static 'images\tech.png' %}" class="d-block w-50 mx-3" alt="" /><br />
      <p>Flipkart introduces an immersive augmented reality e-commerce experience with Flipkart Camera</p>

      <p></p>
    </div>
  </div>
  <div class="card-footer text-body-secondary bg-secondary my-5 text-center">© 2007-2024 rkg.com</div>
{% endblock %}
